@import "tailwindcss";

@font-face {
  font-family: 'ivyOra';
  src: url('/font/fonnts.com-Ivy-Ora-Display-.otf') format('otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
}
